<div class="block ">
  <ion-tabs>

    <ion-tab-bar slot="bottom" class="opacity-90">
      <ion-tab-button tab="home" href="/home">
        <ion-icon aria-hidden="true" name="home" class="opacity-90"></ion-icon>
        <ion-label>Acceuil</ion-label>
      </ion-tab-button>


      <ion-tab-button tab="post" href="/post" class="opacity-90">
        <ion-icon name="create"></ion-icon>
        <ion-label>Post</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notification" href="/notification" class="opacity-90">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <ion-label>Notifications</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="auth" href="/auth" class="opacity-90">
        <ion-icon aria-hidden="true" name="person-add-outline" class="opacity-90"></ion-icon>
        <ion-label>Connexion</ion-label>
      </ion-tab-button>


    </ion-tab-bar>

  </ion-tabs>
</div>




