<div class="h-auto w-full bg-background"  >
  <div class="header flex justify-between p-5">
    <div class="flex ">
      <h4 class="font-bold"> {{post.author}}</h4>
    </div>
    <div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>

    </div>
  </div>

  <div class="text px-5 mb-2">
    <h3 class="text-lg font-extrabold pb-3">{{post.title}}</h3>
    <span appReadMore [text]="post.content" [limit]="100" class="text-sm font-bold"> {{post.content}} </span>
  </div>
  @if (post.image){
    <div class="image w-full">
      <img [src]="post.image" [alt]="post.title" class="w-full h-[400px]"  >
    </div>
    <div class="like flex items-center gap-1 p-2">
      <ion-icon name="heart-circle-outline" class=" like"   (click)="toggleLike()"  [class.clicked]="liked"></ion-icon>
      <span class=" opacity-70">{{post.like }}</span>
    </div>
  }
  <div class="separation"></div>
  <div class="resend flex items-center justify-center gap-8">
    <button class=" flex items-center gap-1 p-2">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>J'aime</ion-label>
    </button>
    <button class="flex items-center gap-1 p-2">
      <ion-icon name="git-compare-outline"></ion-icon>
      <ion-label>Republier</ion-label>
    </button>
  </div>
</div>

